<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="loadingDone">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button id="loginBut" type="submit" color="danger" expand="block" (click)="tryLogIn()">Log In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="signUpBut" color="danger" expand="block" [routerLink]="['/registration']">Sign up</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>